/* cart */

@mixin cart-bg {
   background: #283048; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #859398, #283048); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@mixin cart-open-bg {
   background: #283048; /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #859398, #283048); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@mixin cart-btn-cart {
   background: #bdc3c7; /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#cart {
   margin: 0 0 10px 0;

   & > .btn {
      font-size: 12px;
      line-height: 18px;
      color: #FFF;
      @include cart-bg;
      i {
         font-size: 18px;
         margin: 0;
         padding: 0;
      }
      &:active {
         position: relative;
         top: 1px;
      }
   }

   &.open {

      & > .btn {

         @include cart-open-bg;
         color: #FFFFFF;
         border: 1px solid #E6E6E6;
         box-shadow: none;
         text-shadow: none;
      }
      .dropdown-menu {
         background: #eee;

         table {
            margin-bottom: 10px;
         }

         li {
            & > div {
               min-width: 427px;
               padding: 0 10px;
            }

            p {
               margin: 20px 0;
               text-align: center;

               a.cart-btn-cart {

                  float: left;
                  box-shadow: inset 0px 1px 0px 0px #bdc3c7;
                  @include cart-btn-cart;

                  border-radius: 6px;
                  border: 1px solid #bdc3c7;
                  cursor: pointer;
                  color: #ffffff;
                  padding: 5px;
                  text-decoration: none;

                  &:hover {
                     background: linear-gradient(to bottom, #bdc3c7 5%, #2c3e50 100%);
                  }

                  &:active {
                     position: relative;
                     top: 1px;
                  }
               }

               a.cart-btn-checkout {
                  float: right;
                  box-shadow: inset 0px 1px 0px 0px #a4e271;
                  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
                  border-radius: 6px;
                  border: 1px solid #74b807;
                  display: inline-block;
                  cursor: pointer;
                  color: #ffffff;
                  padding: 5px;
                  text-decoration: none;
                  text-shadow: 0px 1px 0px #528009;

                  &:hover {
                     background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
                  }

                  &:active {
                     position: relative;
                     top: 1px;
                  }
               }
            }
         }
      }
   }

}

@media (max-width: 478px) {
   #cart {
      .dropdown-menu {
         li {
            p {
               a {
                  max-width: 45%;
                  overflow: hidden;
                  min-height: 55px;
                  padding: 5px 20px !important;
               }
               a.cart-btn-cart {
                  left: 0;
               }
               a.cart-btn-checkout {
                  right: 0;
               }
            }
         }
      }
   }
}

.sticky-cart {
   z-index: 9;
   position: fixed;
   top: 0 !important;
   right: 0;
   padding-right: 0;
}