/* menu-info */
#menu-info {
   background: #232526; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   min-height: 45px !important;

   #menu-info-text {
      float: left;
      padding: 5px 0 0 15px;
      font-size: 16px;
      font-weight: 600;
      line-height: 35px;
      color: #fff;
   }
   button.btn-navbar {
      font-size: 16px;
      font-stretch: expanded;
      color: #FFF;
      padding: 2px 18px;
      float: right;
      background-color: #707273;
      background-image: linear-gradient(to bottom, #333333, #707273);
      background-repeat: repeat-x;
      border-color: #1f90bb #1f90bb #145e7a;
   }
   .btn-navbar:hover, .btn-navbar:focus, .btn-navbar:active, .btn-navbar.disabled, .btn-navbar[disabled] {
      color: #ffffff;
      background-color: #229ac8;
   }
   .nav {
      li {
         a {
            color: #FFFFFF;
            min-height: 20px;
            background-color: transparent;

            &:hover {
               background-color: #3a5a75;
               border-radius: 10px;
            }
         }
      }
   }
}

@media (min-width: 768px) {
   #menu-info {
      .nav {
         li {
            display: inline-block;

            a {
               min-height: 45px !important;
               &:active {
                  position: relative;
                  top: 1px;
               }
            }
         }
      }
   }
}

@media (max-width: 767px) {
   #menu-info {
      margin-top: 5px!important;
      .nav {
         li {
            display: block;
         }
      }
   }
}