<span id="btn-search-open" class="btn btn-block btn-lg"><i class="fa fa-search"></i></span>
<div id="search-gen" class="form-group">
   <span id="btn-search-close" class="btn btn-default btn-lg pull-right"><i class="fa fa-close"></i></span>
   <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}"
          class="form-control input-lg" autocomplete="off"/>
   <div id="search-response"></div>
</div>

